.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 75em;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: block;
}
/* Col-s-... --- Mobile */
.col-s-0 {
  display: none;
}
.col-s-1 {
  flex: 0 0 8.33%;
  max-width: 8.33%;
}
.col-s-2 {
  flex: 0 0 16.67%;
  max-width: 16.66%;
}
.col-s-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-s-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-s-5 {
  flex: 0 0 41.67%;
  max-width: 41.66%;
}
.col-s-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-s-7 {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}
.col-s-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.col-s-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-s-10 {
  flex: 0 0 83.33%;
  max-width: 83.33%;
}
.col-s-11 {
  flex: 0 0 91.66%;
  max-width: 91.66%;
}
.col-s-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.s-o-1 {
  margin-left: 8.33%;
}
.s-o-2 {
  margin-left: 16.66%;
}
.s-o-3 {
  margin-left: 25%;
}
.s-o-4 {
  margin-left: 33.33%;
}
.s-o-5 {
  margin-left: 41.66%;
}
.s-o-6 {
  margin-left: 50%;
}
.s-o-7 {
  margin-left: 58.33%;
}
.s-o-8 {
  margin-left: 66.66%;
}
.s-o-9 {
  margin-left: 75%;
}
.s-o-10 {
  margin-left: 83.33%;
}
.s-o-11 {
  margin-left: 91.66%;
}
/* PC Large Screens */
@media (min-width: 77.5em) {
  .wide {
    width: 71.25em;
  }
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .col {
    padding: 0 16px;
  }
  .col-xl-0 {
    display: none;
  }
  .col-xl-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-xl-2 {
    flex: 0 0 16.67%;
    max-width: 16.66%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-xl-5 {
    flex: 0 0 41.67%;
    max-width: 41.66%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-xl-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-xl-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xl-o-1 {
    margin-left: 8.33%;
  }
  .xl-o-2 {
    margin-left: 16.66%;
  }
  .xl-o-3 {
    margin-left: 25%;
  }
  .xl-o-4 {
    margin-left: 33.33%;
  }
  .xl-o-5 {
    margin-left: 41.66%;
  }
  .xl-o-6 {
    margin-left: 50%;
  }
  .xl-o-7 {
    margin-left: 58.33%;
  }
  .xl-o-8 {
    margin-left: 66.66%;
  }
  .xl-o-9 {
    margin-left: 75%;
  }
  .xl-o-10 {
    margin-left: 83.33%;
  }
  .xl-o-11 {
    margin-left: 91.66%;
  }
}

/* PC resolution */
@media (min-width: 64em) and (max-width: 77.4375em) {
  .wide {
    width: 61.5em;
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding: 0 8px;
  }
  .col-l-0 {
    display: none;
  }
  .col-l-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-l-2 {
    flex: 0 0 16.67%;
    max-width: 16.66%;
  }
  .col-l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-l-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-l-5 {
    flex: 0 0 41.67%;
    max-width: 41.66%;
  }
  .col-l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-l-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-l-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .col-l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-l-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-l-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col-l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33%;
  }
  .l-o-2 {
    margin-left: 16.66%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33%;
  }
  .l-o-5 {
    margin-left: 41.66%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33%;
  }
  .l-o-8 {
    margin-left: 66.66%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33%;
  }
  .l-o-11 {
    margin-left: 91.66%;
  }
}

/* Tablet resolution */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .wide {
    max-width: 40.25em;
  }
  .row {
    margin-left: -4px;
    margin-right: -4px;
  }
  .col {
    padding: 0 4px;
  }
  .col-m-0 {
    display: none;
  }
  .col-m-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-m-2 {
    flex: 0 0 16.67%;
    max-width: 16.66%;
  }
  .col-m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-m-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-m-5 {
    flex: 0 0 41.67%;
    max-width: 41.66%;
  }
  .col-m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-m-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-m-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .col-m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-m-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-m-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col-m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33%;
  }
  .m-o-2 {
    margin-left: 16.66%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33%;
  }
  .m-o-5 {
    margin-left: 41.66%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33%;
  }
  .m-o-8 {
    margin-left: 66.66%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33%;
  }
  .m-o-11 {
    margin-left: 91.66%;
  }
}
